body {
  perspective: 800px;
  font-family: Helvetica, sans-serif;
  color: white;
/*  overflow:scroll;*/
}

span.nanners {
  transform: rotateZ(180deg);
}

.transform-display {
  display: inline;
  color: lightgrey;
  transition: 2s ease-out;
}

.transform-display.switch {
  transition: 0s;
  color: darkslategrey;
  outline: 1px dashed red;
  box-shadow: 0 0 2px yellow;
}

.outer-cube {
  width: 240px;
  height: 240px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -120px;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg);
}

.cube-side {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  
  /* for vertically centering text */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.cube-side code.transform {
  position:absolute;
  bottom:0;
  right:100%;
  color: lightgrey;
  font-size: 0.7em;
  white-space:nowrap;
  display:none;
  opacity:0;
  transition: opacity .5s ease, display 0s linear;
}

.cube-side:hover code.transform {
  display:block;
  opacity: 1;
}

.cube-side.front {
  background-color: #6C08B2;
  transform: rotateX(0deg) rotateY(0deg) translateZ(120px);
}
.cube-side.back {
  background-color: #A525FF;
  transform: rotateX(-180deg) rotateY(0deg) translateZ(120px);
}
.cube-side.bottom {
/*  background-color: #09CC5B;*/
  background-color: rgba(9, 204, 91, .5);
  transform: rotateX(-90deg) rotateY(0deg) translateZ(120px);
}
.cube-side.top {
  background-color: #09CC5B;
  transform: rotateX(90deg) rotateY(0deg) translateZ(120px);
}
.cube-side.right {
  background-color: #FFCF3C;
  transform: rotateX(0deg) rotateY(90deg) translateZ(120px);
}

.cube-side.left {
  background-color: #FFA100;
  transform: rotateX(0deg) rotateY(270deg) translateZ(120px);
}
.cube-side.clear {
/*  background-color: rgba(0, 0, 0, 0) !important;*/
}