body {
  perspective: 800px;
}

.outer-cube {

  width: 240px;
  height: 240px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -120px;
  transform-style: preserve-3d;
/*  transition: .5s;*/
}

.inner-cube {
  width: 240px;
  height: 240px;
/*  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -120px;*/
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg);
}

.cube-side {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  backface-visibility: hidden;
/*  opacity: 0.7;*/
  rotation-point: 50% 50%;
}

.cube-side.front {
  background-color: darkorchid;
  transform: rotateX(0deg) rotateY(0deg) translateZ(120px);
}

.cube-side.bottom {
  background-color: cornflowerblue;
  transform: rotateX(-90deg) rotateY(0deg) translateZ(120px);
}
.cube-side.top {
  background-color: tomato;
  transform: rotateX(90deg) rotateY(0deg) translateZ(120px);
}
.cube-side.right {
  background-color: yellow;
  transform: rotateX(0deg) rotateY(90deg) translateZ(120px);
}
.cube-side.back {
  background-color: slategrey;
  transform: rotateX(-180deg) rotateY(0deg) translateZ(120px);
}
.cube-side.left {
  background-color: seagreen;
  transform: rotateX(0deg) rotateY(270deg) translateZ(120px);
}